{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block vueBlock %}
    <div id="app"></div>
    {% block titlePage %}<h1>Working</h1>{% endblock %}
{% endblock %}
